<div class="container-fluid ct">
    <div class="container contenedor">
        <div class="container-fluid">
            <div class="row col1">
                <div class="col-lg-6">
                    <div id="title">
                        Productores de Cotopaxi
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav id="menu">
                        <ul>
                            <li>
                                <img src="../../assets/54874.svg" alt="">
                                <a [routerLink]="['/home']" [routerLinkActive]="['active']">Acceder</a>
                            </li>
                            <li>
                                <img src="../../assets/help.png" alt="">
                                <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Ayuda</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="card">
            <mat-card>
                <div class="row col2">
                    <nav class="navbar navbar-light">
                        <div id="logo">
                            <img src="../../assets/iconos.svg" class="app-logo" alt="Logotipo" />
                        </div>
                        <form class="d-flex">
                            <input class="form-control me-2 buscar" type="search" placeholder="Search"
                                aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </nav>
                </div>
                <div class="row col3">
                    <img src="../../assets/banner.jpg" alt="">
                </div>
                <br><br>
                <h5>Productotes de Latacunga</h5>
                <div class="row">
                    <div class="col-lg-2">
                        <mat-card class="tarjeta-productores">
                            <img src="../../assets/hacienda.jpg" class="img-productor">
                            <p class="nombre-productor">
                                Rancho Yanahurco
                            </p>
                            <p class="descripcion-rancho text-justify">
                                Yanahuco es uno de los ranchos más importantes productores de productos lacteos.
                            </p>
                            <button class="btn btn-outline-info btn-sm"> Ver más</button>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="tarjeta-productores">
                            <img src="../../assets/hacienda.jpg" class="img-productor">
                            <p class="nombre-productor">
                                Rancho Yanahurco
                            </p>
                            <p class="descripcion-rancho text-justify">
                                Yanahuco es uno de los ranchos más importantes productores de productos lacteos.
                            </p>
                            <button class="btn btn-outline-info btn-sm"> Ver más</button>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="tarjeta-productores">
                            <img src="../../assets/hacienda.jpg" class="img-productor">
                            <p class="nombre-productor">
                                Rancho Yanahurco
                            </p>
                            <p class="descripcion-rancho text-justify">
                                Yanahuco es uno de los ranchos más importantes productores de productos lacteos.
                            </p>
                            <button class="btn btn-outline-info btn-sm"> Ver más</button>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="tarjeta-productores">
                            <img src="../../assets/hacienda.jpg" class="img-productor">
                            <p class="nombre-productor">
                                Rancho Yanahurco
                            </p>
                            <p class="descripcion-rancho text-justify">
                                Yanahuco es uno de los ranchos más importantes productores de productos lacteos.
                            </p>
                            <button class="btn btn-outline-info btn-sm"> Ver más</button>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="tarjeta-productores">
                            <img src="../../assets/hacienda.jpg" class="img-productor">
                            <p class="nombre-productor">
                                Rancho Yanahurco
                            </p>
                            <p class="descripcion-rancho text-justify">
                                Yanahuco es uno de los ranchos más importantes productores de productos lacteos.
                            </p>
                            <button class="btn btn-outline-info btn-sm"> Ver más</button>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="tarjeta-productores">
                            <img src="../../assets/hacienda.jpg" class="img-productor">
                            <p class="nombre-productor">
                                Rancho Yanahurco
                            </p>
                            <p class="descripcion-rancho text-justify">
                                Yanahuco es uno de los ranchos más importantes productores de productos lacteos.
                            </p>
                            <button class="btn btn-outline-info btn-sm"> Ver más</button>
                        </mat-card>
                    </div>
                </div>
                <br><br>

                <h5>Productotes de La Maná</h5>
                <div class="row">
                    <div class="col-lg-2">
                        <mat-card class="tarjeta-productores">
                            <img src="../../assets/hacienda.jpg" class="img-productor">
                            <p class="nombre-productor">
                                Rancho Yanahurco
                            </p>
                            <p class="descripcion-rancho text-justify">
                                Yanahuco es uno de los ranchos más importantes productores de productos lacteos.
                            </p>
                            <button class="btn btn-outline-info btn-sm"> Ver más</button>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="tarjeta-productores">
                            <img src="../../assets/hacienda.jpg" class="img-productor">
                            <p class="nombre-productor">
                                Rancho Yanahurco
                            </p>
                            <p class="descripcion-rancho text-justify">
                                Yanahuco es uno de los ranchos más importantes productores de productos lacteos.
                            </p>
                            <button class="btn btn-outline-info btn-sm"> Ver más</button>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="tarjeta-productores">
                            <img src="../../assets/hacienda.jpg" class="img-productor">
                            <p class="nombre-productor">
                                Rancho Yanahurco
                            </p>
                            <p class="descripcion-rancho text-justify">
                                Yanahuco es uno de los ranchos más importantes productores de productos lacteos.
                            </p>
                            <button class="btn btn-outline-info btn-sm"> Ver más</button>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="tarjeta-productores">
                            <img src="../../assets/hacienda.jpg" class="img-productor">
                            <p class="nombre-productor">
                                Rancho Yanahurco
                            </p>
                            <p class="descripcion-rancho text-justify">
                                Yanahuco es uno de los ranchos más importantes productores de productos lacteos.
                            </p>
                            <button class="btn btn-outline-info btn-sm"> Ver más</button>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="tarjeta-productores">
                            <img src="../../assets/hacienda.jpg" class="img-productor">
                            <p class="nombre-productor">
                                Rancho Yanahurco
                            </p>
                            <p class="descripcion-rancho text-justify">
                                Yanahuco es uno de los ranchos más importantes productores de productos lacteos.
                            </p>
                            <button class="btn btn-outline-info btn-sm"> Ver más</button>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="tarjeta-productores">
                            <img src="../../assets/hacienda.jpg" class="img-productor">
                            <p class="nombre-productor">
                                Rancho Yanahurco
                            </p>
                            <p class="descripcion-rancho text-justify">
                                Yanahuco es uno de los ranchos más importantes productores de productos lacteos.
                            </p>
                            <button class="btn btn-outline-info btn-sm"> Ver más</button>
                        </mat-card>
                    </div>
                </div>

            </mat-card>
        </div>

    </div>