.ct{
    background-image: linear-gradient(to right top, #dadfe3, #bcccdd, #a3b9d8, #8fa4d1, #818ec9);

}

.col1{
    padding-top: 15px;
    margin-top: 0px;
    margin-bottom: -20px;

}

#title{
    color: rgb(97, 93, 93);
    line-height: 50px;
    width: 75%;
    font-size: 25px;
}

#menu{
    width: 70%;
    float:right;
    font-size: 18px;
}

#menu ul{
    line-height: 50px;
    width: auto;
    float:right;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover,
.active{
    color: #f13e3e !important;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img {
    display: block;
    float: left;
    height: 50px;
    margin-top: -40px;
    margin-right: 10px;
    animation: latir infinite 5s linear;
}

#menu img {
    display: block;
    float: left;
    height: 20px;
    margin-top: 15px;
    margin-right: 8px;
  
}

.buscar{
    width: 450px;
}

.img-productor {
    max-width: 100%;
}

.tarjeta-productores {
    padding: 2px;
}

.tarjeta-productores button {
    width: 100%;
    margin-bottom: 5px;
}

.nombre-productor {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.descripcion-rancho {
    font-size: 13px;
    margin: 5px;
}